* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    border-bottom: 1px solid #eee;
}

.nav-left, .nav-links {
    display: flex;
    align-items: center;
}

.logo { 
    width: 120px; 
    margin-right: 30px;
}

.nav-links { 
    list-style: none; 
}

.nav-links li {
    padding: 20px 15px;
    cursor: pointer;
    font-weight: 500;
    color: #444;
}

.dropdown { 
    position: relative; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    width: 500px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}


.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-between;
}

.column h3 {
     font-size: 14px;
      margin-bottom: 10px; 
      color: rgb(17 17 17); 
    }
.column a { 
    display: block; 
    text-decoration: none; 
    color: rgb(102 102 102); 
    font-size: 13px; 
    margin-bottom: 8px; 
}
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: rgb(248 249 255);
}

.hero h1 { 
    font-size: 40px;
     margin-bottom: 10px; 
    }

.search-bar {
    display: flex;
    background: white;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.search-bar input, .search-bar select {
    border: none;
    outline: none;
    padding: 15px;
    flex: 1;
    font-size: 16px;
}

.search-btn {
    background: rgb(39 93 245);
    color: white;
    border: none;
    padding: 0 40px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
}

.btn-login { 
    border: 1px solid rgb(39 93 245);
    color: rgb(39 93 245);
    padding: 10px 25px;
    border-radius: 20px;
    background: transparent;
    margin-right: 10px;
    cursor: pointer;
}
.btn-register { 
    background: rgb(255 77 44); 
    color: white; 
    border: none; 
    padding: 10px 25px; 
    border-radius: 20px;
    cursor: pointer; 
}
.section-title {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 24px;
    color: #111;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 8%;
    flex-wrap: wrap;
}
.cat-card {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    transition: 0.3s;
    cursor: pointer;
}

.cat-card:hover { box-shadow: 0 4px 15px rgba(0,0,0,0.1); }

.cat-header { font-weight: bold; font-size: 18px; margin-bottom: 5px; }

.logo-row { display: flex;
     gap: 10px; 
     margin-top: 15px; 
     height: 50px;
    }
.logo-row img { 
    border-radius: 4px; 
    border: 1px solid #eee; }

.featured-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 25px;
    width: 280px;
    text-align: center;
}

.rating { font-size: 12px; color: #666; margin: 10px 0; }
.desc { font-size: 13px; color: #444; height: 40px; overflow: hidden; }

.view-jobs {
    margin-top: 15px;
    background: #f1f5ff;
    color: #275df5;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background: #fff;
    border-top: 1px solid #eee;
    padding: 40px 8%;
    margin-top: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-links { 
    display: flex; 
    gap: 60px; 
    text-align: center;
    justify-content: center;
}
.footer-links ul {
     list-style: none; }
.footer-links li { 
    font-size: 14px; 
    color: #666; 
    margin-bottom: 10px; 
    cursor: pointer; }

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
    color: #999;
    border-top: 1px solid #f1f1f1;
    margin-top: 20px;
}